<div class="flex-container">
  <div class="flex-content">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header" translate>Dashboard</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <div class="row">
      <a ui-sref="dashboard.users">
        <stats number="{{users.length}}" comments="Users" colour="primary" type="user"></stats>
      </a>
      <a ui-sref="dashboard.departments">
        <stats number="{{departments.length}}" comments="Departments" colour="yellow" type="users"></stats>
      </a>
      <a ui-sref="dashboard.report">
        <stats number="{{datas.length}}" comments="Success Indicators" colour="green" type="arrows-h"></stats>
      </a>
    </div>
    <div class="row mb40">
      <div class="col-lg-10">
        <h4 class="page-header" translate>Add Data</h4>
        <a ui-sref="dashboard.data" class="col-lg-2 btn btn-default btn-md ptb16">Select your <br /> UNIT</a>
        <i class="col-lg-1 fa fa-arrow-right fa-2x mt20 text-center"></i>
        <a ui-sref="dashboard.data" class="col-lg-3 btn btn-default btn-md">Select <br /> internationalisation <br /> GOALS</a>
        <i class="col-lg-1 fa fa-arrow-right fa-2x mt20 text-center"></i>
        <a ui-sref="dashboard.data" class="col-lg-2 btn btn-default btn-md">Select <br /> internationalisation <br /> INDICATORS</a>
        <i class="col-lg-1 fa fa-arrow-right fa-2x mt20 text-center"></i>
        <a ui-sref="dashboard.data" class="col-lg-2 btn btn-default btn-md ptb16">Provide <br /> DATA</a>
      </div>
      <div class="col-lg-2">
        <h4 class="page-header" translate>Reports</h4>
        <a ui-sref="dashboard.report" class="col-lg-12 btn btn-default btn-md mr20 ptb16">View your <br />  indicators REPORT</a>
      </div>
    </div>
    <div class="row mb40">
      <div class="col-lg-12">
          <h4 class="page-header">Resources</h4>
          <a href="docs/HEIDA-glossary.pdf" target="_blank" class="col-lg-2 btn btn-default btn-lg mr20"><i class="fa fa-book fa-fw"></i> <br/>{{'Glossary' | translate}}</a>
          <a href="docs/HEIDA-key-definitions.pdf" target="_blank" class="col-lg-2 btn btn-default btn-lg mr20"><i class="fa fa-key fa-fw"></i> <br/>{{'Key Definitions' | translate}}</a>
          <a href="docs/HEIDA-tutorial.pdf" target="_blank" class="col-lg-2 btn btn-default btn-lg mr20"><i class="fa fa-laptop fa-fw"></i> <br/>{{'Tutorial' | translate}}</a>
          <a href="docs/HEIDA-online-training-course.pdf" target="_blank" class="col-lg-3 btn btn-default btn-lg"><i class="fa fa-mortar-board fa-fw"></i> <br/>{{'Online Training Course' | translate}}</a>
      </div>
    </div>
  </div>
  <div class="flex-footer dashboard-footer">
    <b>© Copyright 2015 by <a href="#">HEIDA |&nbsp;Koç University</a>. All rights reserved.</b><br/>
    This project has been funded with support from the European Commission. This website reflects the views only of the project consortium, and the Commission cannot be held responsible for any use which may be made of the information contained therein.
  </div>
</div>
