<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <stats number="12" comments="Users" colour="primary" type="user"></stats>
        <stats number="18" comments="Departments" colour="yellow" type="users"></stats>
        <stats number="24" comments="Success Indicators" colour="green" type="arrows-h"></stats>

    </div>

    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Last 5 Reports
                </div>
                <!-- /.panel-heading -->

              <table class="table">
                <thead>
                <th>indicator</th>
                <th>Department</th>
                </thead>
                <tbody>
                <tr ng-repeat="data in datas">
                  <td >
                    <a ui-sref="dashboard.report_detail({department:data.department.id,indicator:data.indicator.id})">{{data.indicator.name}}</a>
                  </td>
                  <td >
                    {{data.department.name}}
                  </td>
                </tr>
                </tbody>
              </table>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->
</div>

<!--MFDPS_STUD:SuperMFDPS-->
