<div id="wrapper">

        <!-- Navigation -->

        <header></header>
        <!-- /.navbar-top-links -->


        <!-- /.navbar-static-side -->

            <div id="page-wrapper">

                <div ui-view style="padding-bottom:75px"></div>

                <div class="dashboard-footer">
                  <b>© Copyright 2015 by <a href="#">HEIDA |&nbsp;Koç University</a>. All rights reserved.</b><br/>
                  This project has been funded with support from the European Commission. This website reflects the views only of the project consortium, and the Commission cannot be held responsible for any use which may be made of the information contained therein.
                </div>

            </div>
            <!-- /#page-wrapper -->
    </div>
