<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <a ui-sref="dashboard.home" class="navbar-brand">
      <img src="images/header-logo.png" alt="heida"/>
      <img src="images/koc-logo.png" alt="koc university"/>
    </a>
    <button ng-show="lang == 'tr'" ng-click="changeLanguage('tr')" translate="BUTTON_LANG_TR"></button>
    <button ng-show="lang == 'en'" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
  </div>


  <a class="nav navbar-top-links navbar-right logout-button hide-on-mobile" ui-sref="login"><i
    class="fa fa-sign-out fa-fw"></i> Logout</a>
  <!-- /.navbar-header -->
  <header-notification></header-notification>

  <sidebar></sidebar>
</nav>
