.layout-wrapper {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.layout-wrapper > div {
  height: 100%;
}

.flex-container, #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

nav {
  -webkit-box-ordinal-group:1;
      -ms-flex-order:0;
          order:0;
}

.navbar {
  min-height: auto;
}

.navbar-brand {
  padding:3px 15px;
}

.navbar-brand img {
  display: inline-block;
  height: 43px;
  margin-right: 10px;
}
.logout-button {
  padding:15px;
  display: inline-block!important;
}

.flex-content, #page-wrapper {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;

          position: relative;
          min-height: auto!important;
}

.flex-content {
  overflow-x: hidden;
  overflow-y: auto;
}

.layout-padding {
  padding: 0 30px;
}

.flex-footer {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.dashboard-footer {
  font-size: 10px;
  padding: 10px;
  border-top: 1px solid #e7e7e7;
  background: #f8f8f8;
}

.sidebar-nav .fa.arrow:before { content: "\f106"; }

#page-wrapper .layout-wrapper > .ng-scope:not(.flex-container) {
  padding:0 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

#page-wrapper .layout-wrapper > .ng-scope > .flex-content {
  padding:0 30px;
}
