/* General CSS  Start */
.mb20 {
  margin-bottom: 20px;
}
.text-center {
  text-align: center;
}
/* General CSS  End */

/* Bootstrap Encapsulation Start */
.page-header {
  margin:16px 0 20px!important;
}
/* Bootstrap Encapsulation End */

/* Table Css Start */
.table td {
  padding: 15px 10px!important;
}

.table thead th {
  text-transform: uppercase;
  font-size: .8em;
  background-color: #E8ECEF;
  color: #949394;
}
/* Table Css End */

/* Users Page Start */
.users-page {

}
.users-page .user-list-item {
  cursor: pointer;
}
/* Users Page End */
