/* General CSS  Start */
.logo-heida {
  display: block;
  background: url('../images/logo-heida.png');
  width: 346px;
  height: 117px;
}
.padding-none {
  padding: 0;
}
.ptb16 {
  padding: 16px 0;
}
.mt10 {
  margin-top: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mt40 {
  margin-top: 40px;
}
.mb40 {
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

/* General CSS  End */

/* Bootstrap Encapsulation Start */
.page-header {
  margin: 16px 0 20px !important;
}

/* Bootstrap Encapsulation End */

/* Table Css Start */
.table td {
  padding: 15px 10px !important;
}

.table thead th {
  text-transform: uppercase;
  font-size: .8em;
  background-color: #E8ECEF;
  color: #949394;
}

/* Table Css End */

/* Login Page Start */
.login-content {
  padding: 30px 20px;
  margin: 7% 0 0 33%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 20px 40px -25px;
  -webkit-box-shadow: 0 20px 40px -25px;
  -moz-box-shadow: 0 20px 40px -25px;
  background-color: #ffffff;
}
.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.btn-social > :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social.btn-lg {
  padding-left: 61px
}

.btn-social.btn-lg > :first-child {
  line-height: 45px;
  width: 45px;
  font-size: 1.8em
}

.btn-social.btn-sm {
  padding-left: 38px
}

.btn-social.btn-sm > :first-child {
  line-height: 28px;
  width: 28px;
  font-size: 1.4em
}

.btn-social.btn-xs {
  padding-left: 30px
}

.btn-social.btn-xs > :first-child {
  line-height: 20px;
  width: 20px;
  font-size: 1.2em
}

.btn-social-icon {
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 34px;
  width: 34px;
  padding: 0
}

.btn-social-icon > :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social-icon.btn-lg {
  padding-left: 61px
}

.btn-social-icon.btn-lg > :first-child {
  line-height: 45px;
  width: 45px;
  font-size: 1.8em
}

.btn-social-icon.btn-sm {
  padding-left: 38px
}

.btn-social-icon.btn-sm > :first-child {
  line-height: 28px;
  width: 28px;
  font-size: 1.4em
}

.btn-social-icon.btn-xs {
  padding-left: 30px
}

.btn-social-icon.btn-xs > :first-child {
  line-height: 20px;
  width: 20px;
  font-size: 1.2em
}

.btn-social-icon > :first-child {
  border: none;
  text-align: center;
  width: 100% !important
}

.btn-social-icon.btn-lg {
  height: 45px;
  width: 45px;
  padding-left: 0;
  padding-right: 0
}

.btn-social-icon.btn-sm {
  height: 30px;
  width: 30px;
  padding-left: 0;
  padding-right: 0
}

.btn-social-icon.btn-xs {
  height: 22px;
  width: 22px;
  padding-left: 0;
  padding-right: 0
}

.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:focus, .btn-google.focus {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:hover {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2)
}

/* Login Page End */

/* Profile Page Start */
.profile-page .profile-picture img {
  width: 100%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
.profile-page label {
  display: block;
}
/* Profile Page End */

/* Report Page Start */
.report-page .success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.report-page .not-success {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
/* Report Page End */

/* Admin Tabs Start */
.users-page .list-item,  .departments-page .list-item, .subdepartments-page .list-item, .groups-page .list-item, .subgroups-page .list-item, .criteria-page .list-item, .questions-page .list-item, .indicators-page .list-item, .goals-page .list-item, .create-reports-page .list-item{
  cursor: pointer;
}
.departments-page a, .subdepartments-page a, .groups-page a, .subgroups-page a, .criteria-page a, .questions-page a, .indicators-page a, .goals-page a, .create-reports-page a, .report-page a, .data-edit-page a {
  cursor: pointer;
}
.departments-page a:hover, .subdepartments-page a:hover, .groups-page a:hover, .subgroups-page a:hover, .criteria-page a:hover, .questions-page a:hover, .indicators-page a:hover, .goals-page a:hover, .create-reports-page a:hover, .report-page a:hover, .data-edit-page a:hover {
  text-decoration: none;
}
@media print{
  .report-detail {
    position:relative;
    display:table;
    table-layout:fixed;
    padding-top:20px;
    padding-bottom:20px;
    width: 94%;
    height:auto;
    font-size: 12px;
  }
  .report-detail .page-header {
    font-size: 18px;
  }
  .report-detail .panel-default {
    border:0
  }
  .report-detail .report-detail-print-container {
    width: 45%!important;
  }
  .report-detail-chart {
    width: 50%!important;
    height: 50%!important;
    display: inline-block;
  }
}

/* Admin Tabs End */

.table-header {
  border-width:1px 1px 0 1px;
  border-style: solid;
  border-color: #ddd;
  padding: 10px 5px;
}

.table-header > div {
  padding:0 5px;
}


/*  Header language selectbox start */
.lang-selectbox {
  width:200px;
  display:inline-block;
  margin-top:10px
}
/*  Header language selectbox end */



@media (min-width: 768px) {
  .show-on-mobile {
    display: none!important;
  }
  .hide-on-mobile {
    display: block!important;
  }
}
@media (max-width: 768px) {
  .login-content {
    margin: 0!important
  }
  .show-on-mobile {
    display: block!important;
  }
  .hide-on-mobile {
    display: none!important;
  }
  .navbar-header {
    display: inline-block !important;
  }
  .lang-selectbox {
    width: 45% !important;
    margin: 10px 10px 0 0;
    float: right;
  }
}
