<div class="criteria-page">
  <div class="row">
    <h1 class="page-header">Criterias</h1>
  </div>
  <div class="row">
    <a ng-click="addCriteria=true" ng-hide="addCriteria" class="pull-right mb20 add-criteria" ng-if="me.role == 4">
      <i class="fa fa-plus-circle"></i> Add New Criteria
    </a>
    <div class="row mb40" ng-show="addCriteria">
      <div class="col-lg-4">
        <input type="text" value="{{criteria.name}}" ng-model="criteria.name" class="form-control col-lg-6" placeholder="Add New Criteria" />
      </div>
      <div class="col-lg-4">
        <label for="criteria-checkbox">Multiple</label>
        <input type="checkbox" value="" ng-model="criteria.multiple" id="criteria-checkbox" />
      </div>
      <div class="col-lg-4">
        <button class="btn btn-primary" type="button" ng-click="save(criteria)">Add</button>
      </div>
    </div>

    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Multiple</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="criteria in criterias ">
        <td><a ui-sref="dashboard.criterias_edit({id:criteria.id})">{{criteria.name}}</a></td>
        <td>{{criteria.multiple}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
