<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Groups</h1>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Criterias
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name Criteria</th>
              <th>Multiple</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td>
                  <textarea value="{{criteria.name}}" ng-model="criteria.name" ></textarea>
                </td>
                <td>
                  <input type="checkbox" value="" ng-model="criteria.multiple">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-primary" ng-click="save(criteria)">Update</button>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
</div>
