<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Criterias</h1>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Criterias
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="criteria in criterias ">
              <td><a ui-sref="dashboard.criterias_edit({id:criteria.id})">{{criteria.name}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <a ui-sref="dashboard.criterias_new()"><p class="fa fa-plus-circle"></p></a>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
</div>
</div>
