<div class="create-reports-page" ng-if="me.role == 4">
  <div class="row">
    <h1 class="page-header">Create Reports</h1>
  </div>

  <div class="row">

    <form name="myForm">
      <table id="panel{{state}}" class="table table-bordered">
        <thead>
        <tr>
          <th>Department</th>
          <th>Goal</th>
          <th>Group</th>
          <th>Sub-Group</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <select class="form-control"
                      ng-options="department.name for department in departments track by department.id"
                      ng-model="data.department" required></select>
          </td>
          <td>
            <select class="form-control" ng-model="data.goal" ng-change="filter(data.goal,null,null)">
              <option value="goal1">Goal 1</option>
              <option value="goal2">Goal 2</option>
              <option value="goal3">Goal 3</option>
              <option value="goal4">Goal 4</option>
              <option value="goal5">Goal 5</option>
          </select>
          </td>
          <td><select class="form-control" ng-options="group.name for group in groups track by group.id"
                      ng-model="data.group" ng-change="filter(null,data.group.id,null)" required>
          </select></td>
          <td><select class="form-control" ng-options="subgroup.name for subgroup in subgroups track by subgroup.id "
                      ng-model="data.subgroup" ng-change="filter(null,data.group.id,data.subgroup.id)" required>
          </select></td>
        </tr>
        </tbody>
      </table>

      <h4>Indicators</h4>

      <table class="table table-bordered">
        <tbody>
        <tr ng-repeat="indicator in indicators">
          <td>
            <a ng-click="addData(indicator)">{{indicator.name}}</a>
          </td>
        </tr>
        </tbody>
      </table>

    </form>
  </div>
  <!-- /.table-responsive -->
</div>
