<div class="departments-page">
  <div class="row">
    <h1 class="page-header">Departments</h1>
  </div>
  <div class="row">
    <a ng-click="addDepartment=true" ng-hide="addDepartment" class="pull-right mb20 add-department">
      <i class="fa fa-plus-circle"></i> Add New Department
    </a>

    <div class="input-group mb40" ng-show="addDepartment">
      <input type="text" value="{{department.name}}" ng-model="department.name" class="form-control" placeholder="Add New Department">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="save(department)">Add</button>
      </span>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="department in departments ">
        <td><a ui-sref="dashboard.departments_edit({id:department.id})">{{department.name}}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
