<div style="margin-top:15px;">
  <a ng-click="addNewRowtoIndicator=true;addRow();" ng-hide="addNewRowtoIndicator" class="pull-right" style="margin-bottom:10px;">
    <i class="fa fa-plus-circle"></i> Add New
  </a>
  <table class="table">
    <thead ng-hide="addNewRowtoIndicator || editRowtoIndicator">
    <tr>
      <th width="200">Department</th>
      <th width="75">Public</th>
      <th>Year:Value</th>
      <th width="55"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="data in currentDatas" ng-hide="addNewRowtoIndicator || editRowtoIndicator">
      <td ng-bind="data.departmentName" style="padding: 10px 5px 5px!important">

      </td>
      <td ng-bind="data.public" style="padding:10px 5px 5px!important">
      </td>
      <td style="padding:10px 5px 5px!important">
        <span ng-repeat="yearval in data.yearsValues">
          (<b>{{yearval.year}} :</b>  {{yearval.value}})
        </span>
      </td>
      <td style="padding:10px 5px 5px!important">
        <a ng-click="editDataRow(data)" class="pull-right" style="margin-bottom:10px;">
          <i class="fa fa-pencil"></i> Edit
        </a>
      </td>
    </tr>
    <tr ng-show="currentDatas.length == 0">
      <td colspan="4">
        <div class="no-data text-center pull-left" style="width:100%; color:#999999;" >
          No data available
        </div>
      </td>
    </tr>


    <tr ng-show="addNewRowtoIndicator || editRowtoIndicator">
      <td colspan="4">
        <div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Type of Unit</label>
                <select class="form-control" id="new_department" ng-change="subUnits(newData.departmentId)" ng-model="newData.departmentId" required>
                  <option ng-repeat="department in departments" value="{{department.id}}" ng-selected="{{department.id == newData.departmentId}}">{{department.name}}</option>
                  <option value="custom">Other</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Type of Sub Unit</label>
                <select class="form-control" id="new_subUnit" ng-model="newData.subUnitId" ng-disabled="!newData.departmentId || newData.departmentId == 'custom'">
                  <option ng-repeat="subUnit in newData.subdepartments" value="{{subUnit.id}}" ng-selected="{{subUnit.id == newData.subUnitId}}">{{subUnit.name}}</option>
                  <option value="custom">Other</option>
                </select>
              </div>
            </div>
            <div class="col-md-4" ng-show="newData.departmentId == 'custom' || newData.subUnitId">
              <div class="form-group">
                <label>Please write the name of your unit</label>
                <input  class="form-control" type="text" id="new_otherUnit" ng-model="newData.otherUnit"/>
              </div>
            </div>
          </div>
        </div>

        <div>
          <hr/>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Time Period</label>
                <select class="form-control" id="new_periodType" ng-model="newData.periodType" ng-change="newData.year = [];newData.yearNotSelected = false;" required>
                  <option ng-repeat="period in periodArrObj" value="{{period.value}}" ng-selected="{{period.value == newData.periodType}}">{{period.label}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Year</label>
                <select class="form-control" id="new_period" ng-model="newData.year" ng-change="prepareYearsValues();"  multiple ng-multiple="true" required ng-disabled="!newData.periodType">
                  <option ng-repeat="per in periodRange(newData.periodType)" value="{{per}}" ng-selected="{{per == newData.year}}">{{per}}</option>
                </select>
                <i class="info-text">You can select more by holding "CTRL" key</i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2" ng-repeat="selectedYear in newData.year">
              <div class="form-group">
                <label>Value of {{selectedYear}}
                  <span ng-show="newData.percentage">(%)</span>
                  <span ng-show="newData.yesno">(Yes/No)</span>
                </label>
                <input ng-if="newData.numeric" class="form-control" type="number" id="new_value_{{$index}}" ng-hide="newData[selectedYear]" ng-model="newData.yearsValues[selectedYear]"/>
                <input ng-if="newData.percentage" ng-change="validatePercentage(newData.yearsValues[selectedYear], selectedYear)" class="form-control" type="number" id="new_value_{{$index}}_percentage" ng-hide="newData[selectedYear]" ng-model="newData.yearsValues[selectedYear]"/>
                <select ng-if="newData.yesno" class="form-control" id="new_value_{{$index}}_yesno" ng-show="newData[selectedYear]" ng-model="newData.yearsValues[selectedYear]">
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" ng-repeat="survey in criterias">
                <label>{{survey.name}}</label>
                <select class="form-control" id="new_survey_{{survey.id}}" ng-model="newData.criterias[survey.id]"  multiple ng-multiple="true" required ng-if="survey.multiple == true">
                  <option ng-repeat="answer in survey.questions" value="{{answer.id}}" ng-selected="{{answer.id == newData.criterias[survey.id]}}">{{answer.name}}</option>
                </select>
                <i ng-if="survey.multiple == true" class="info-text">You can select more by holding "CTRL" key</i>
                <select class="form-control" id="new_survey_{{survey.id}}" ng-model="newData.criterias[survey.id]" required ng-if="!(survey.multiple == true)">
                  <option ng-repeat="answer in survey.questions" value="{{answer.id}}" ng-selected="{{answer.id == newData.criterias[survey.id]}}">{{answer.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-left">
              <button type="button" class="btn btn-danger" ng-click="cancelNewData();">Cancel</button>
            </div>
            <div class="col-sm-6 text-right">
              <button type="button" class="btn btn-primary" ng-click="saveNewData(newData);"
                      ng-disabled="!(newData.subUnitId && !newData.yearNotSelected)">
                Save
              </button>
            </div>
          </div>
        </div>

      </td>
    </tr>
    </tbody>
  </table>
</div>
