<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Groups</h1>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Groups
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name Group</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td><input type="text" value="{{group.name}}" ng-model="group.name"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-primary" ng-click="save(group)">Update</button>
      <!-- /.table-responsive -->
    </div>

    <!-- /.panel-body -->
  </div>
</div>
</div>

