<div class="groups-page">
  <div class="row">
    <h1 class="page-header">Groups</h1>
  </div>
  <div class="row">
    <a ng-click="addGroup=true" ng-hide="addGroup" class="pull-right mb20 add-group">
      <i class="fa fa-plus-circle"></i> Add New Group
    </a>

    <div class="input-group mb40" ng-show="addGroup">
      <input type="text" value="{{group.name}}" ng-model="group.name" class="form-control" placeholder="Add New Group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="save(group)">Add</button>
      </span>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="group in groups">
        <td><a ui-sref="dashboard.groups_edit({id:group.id})">{{group.name}} </a>({{group.subs.length}})</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
