<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" translate>Groups</h1>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" translate>
      Sub-Groups
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th translate>Name</th>
              <th translate>subgroup</th>
              <th translate>Value Type</th>
              <th translate>public</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <input type="hidden"  ng-model="indicator.code"  class="form-control" disabled>
              <td><input type="text"  ng-model="indicator.name"  class="form-control"></td>
              <td><select class="form-control" ng-options="subgroup.name for subgroup in subgroups track by subgroup.id"  ng-model="indicator.subgroup">
              </select></td>
              <td><select class="form-control"   ng-model="indicator.valueType">
                <option value="yes/no" translate>Yes / No </option>
                <option value="numeric" translate>Numeric </option>
                <option value="percentage" translate>Percentage</option>
              </select></td>
              <td>
                <select class="form-control" ng-model="indicator.public">
                  <option value="public" translate>Public</option>
                  <option value="staffonly" translate>Staff Only</option>
                  <option value="notsure" translate>Not Sure</option>
                </select>
              </td>
              </tr>
              <tr>
              <td translate title="Goal 1 - to enhance the quality of education">Goal 1
                <select ng-model="indicator.goal1">
                  <option value="0" translate>Not Relevant</option>
                  <option value="1" translate>Low</option>
                  <option value="2" translate>Moderately</option>
                  <option value="3" translate>Highly</option>
              </select></td>
              <td translate title="Goal 2 - to enhance the quality of research">Goal 2
                <select ng-model="indicator.goal2">
                  <option value="0" translate>Not Relevant</option>
                  <option value="1" translate>Low</option>
                  <option value="2" translate>Moderately</option>
                  <option value="3" translate>Highly</option>
              </select></td>
              <td translate title="Goal 3 - to well-prepare students for life and work in an intercultural and globalising world">Goal 3
                <select ng-model="indicator.goal3">
                  <option value="0" translate>Not Relevant</option>
                  <option value="1" translate>Low</option>
                  <option value="2" translate>Moderately</option>
                  <option value="3" translate>Highly</option>
              </select></td>
              <td translate title="Goal 4 - to enhance the international reputation and visibility of the unit">Goal 4
                <select ng-model="indicator.goal4">
                  <option value="0" translate>Not Relevant</option>
                  <option value="1" translate>Low</option>
                  <option value="2" translate>Moderately</option>
                  <option value="3" translate>Highly</option>
              </select></td>
              <td translate title="Goal 5 - to provide service to society and community social engagement">Goal 5
                <select ng-model="indicator.goal5">
                  <option value="0" translate>Not Relevant</option>
                  <option value="1" translate>Low</option>
                  <option value="2" translate>Moderately</option>
                  <option value="3" translate>Highly</option>
              </select></td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-primary" ng-click="save(indicator)" translate>Update</button>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
</div>
</div>
