<div class="indicators-page" ng-if="me.role == 4">
  <div class="row">
    <h1 class="page-header">Indicators</h1>
  </div>
  <div class="row">
    <a ng-click="addIndicator=true" ng-hide="addIndicator" class="pull-right mb20 add-indicator">
      <i class="fa fa-plus-circle"></i> Add New Indicator
    </a>

    <div ng-show="addIndicator">

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Subgroup</th>
          <th>Value Type</th>
          <th>Public</th>
          <th>Goal 1</th>
          <th>Goal 2</th>
          <th>Goal 3</th>
          <th>Goal 4</th>
          <th>Goal 5</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <input type="hidden" ng-model="indicator.code" disabled>
          <td><input type="text" ng-model="indicator.name"></td>
          <td><select class="form-control" ng-options="subgroup.name for subgroup in subgroups track by subgroup.id"
                      ng-model="indicator.subgroup">
          </select></td>
          <td><select class="form-control" ng-model="indicator.valueType">
            <option value="yes/no">Yes / No</option>
            <option value="numeric">Numeric</option>
            <option value="percentage">Percentage</option>
          </select></td>
          <td class="text-center">
            <select class="form-control" ng-model="indicator.public">
              <option value="public">Public</option>
              <option value="staffonly">Staff Only</option>
              <option value="notsure">Not Sure</option>
            </select>
          </td>
          <td>
            <select class="form-control" ng-model="indicator.goal1">
              <option value="0">Not Relevant</option>
              <option value="1">Low</option>
              <option value="2">Moderately</option>
              <option value="3">Highly</option>
            </select></td>
          <td>
            <select class="form-control" ng-model="indicator.goal2">
              <option value="0">Not Relevant</option>
              <option value="1">Low</option>
              <option value="2">Moderately</option>
              <option value="3">Highly</option>
            </select></td>
          <td>
            <select class="form-control" ng-model="indicator.goal3">
              <option value="0">Not Relevant</option>
              <option value="1">Low</option>
              <option value="2">Moderately</option>
              <option value="3">Highly</option>
            </select></td>
          <td>
            <select class="form-control" ng-model="indicator.goal4">
              <option value="0">Not Relevant</option>
              <option value="1">Low</option>
              <option value="2">Moderately</option>
              <option value="3">Highly</option>
            </select></td>
          <td>
            <select class="form-control" ng-model="indicator.goal5">
              <option value="0">Not Relevant</option>
              <option value="1">Low</option>
              <option value="2">Moderately</option>
              <option value="3">Highly</option>
            </select></td>
          </td>
        </tr>
        </tbody>
      </table>

      <button class="btn btn-primary pull-right mb40" type="button" ng-click="save(indicator)">Add</button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th class="col-lg-2">Code</th>
        <th>Name</th>
        <th>subgroup</th>
        <th>Value Type</th>
        <th class="col-lg-1">Public</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="indicator in indicators " ui-sref="dashboard.indicators_edit({id:indicator.id})" class="list-item"
          title="Edit {{indicator.name}}">
        <td class="col-lg-2">{{indicator.code}}</td>
        <td>{{indicator.name}}</td>
        <td>{{indicator.subgroup.name}}</td>
        <td>{{indicator.valueType}}</td>
        <td>{{indicator.public}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
