<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 login-content">
      <i class="logo-heida mb40"></i>
          <!--<form role="form" action="/api/auth/process/ldapauth" method="POST">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="username" name="username" type="username" autofocus>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Password" name="password" type="password" value="">
              </div>
              <div class="checkbox">
                <label>
                  <input name="remember" type="checkbox" value="Remember Me">Remember Me
                </label>
              </div>
          </fieldset>
          <input type="submit" id="submit" value="Login with Google"/>
          </form> -->

          <!-- Change this to a button or input when using this as a form -->

          <select class="form-control mb20" name="lang-selector" ng-change="changeLanguage()" ng-model="selected">
            <<option value="">{{'Choose Language' | translate}}</option>
            <option value="tr" selected>{{'Turkish' | translate}}</option>
            <option value="en">{{'English' | translate}}</option>
            <option value="es">{{'Spanish' | translate}}</option>
            <option value="si">{{'Slovene' | translate}}</option>
          </select>
          <a href="/api/auth/process/google" class="btn btn-block btn-social btn-lg btn-google">
            <i class="fa fa-google"></i> {{"Sign in with Google" | translate}}
          </a>
        <br /><br />
          This is a test version of the Heida tool for collecting and sharing internationalization indicators. You can only login with a Google account. Once it is installed in your university, you and others can use your university email addresses. For more information visit <a href="https://heida.ku.edu.tr">Heida</a> or email us at <a href="mailto:heida@ku.edu.tr">heida@ku.edu.tr</a> 
        </div>
      </div>
    </div>
