<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Profile</h1>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="row">
      <div class="form-group">
        <div class="panel-heading">
          User Profile
        </div>
        <div class="panel-body">
          <label>Full Name</label>
          <input class="form-control"  ng-model="me.name"  disabled>
          <label>User Name</label>
          <input class="form-control"  ng-model="me.username" disabled>
          <!--      <p class="help-block">Example block-level help text here.</p>-->
          <label>Email</label>
          <input class="form-control"  ng-model="me.email" disabled>
        </div>
      </div>
    </div>
  </div>
</div>
