<div class="profile-page">
  <div class="row">
    <h1 class="page-header">{{me.name}}'s Profile</h1>
  </div>
  <!-- /.table-responsive -->
  <div class="row">

    <div class="col-lg-1 profile-picture">
      <img src="{{me.avatar}}" alt="{{me.name}}" />
    </div>
    <div class="col-lg-8">
      <div class="col-lg-12 mb20">
        <label>Full Name</label>
        {{me.name}}
      </div>
      <div class="col-lg-12 mb20">
        <label>User Name</label>
        {{me.username}}
      </div>
      <div class="col-lg-12">
        <label>Email</label>
        {{me.email}}
      </div>
    </div>
  </div>
</div>
