<div class="criteria-page" ng-if="me.role == 4">
  <div class="row">
    <h1 class="page-header">{{'Edit' | translate}} {{question.name | translate}}</h1>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th translate>Name</th>
        <th translate>Value</th>
        <th class="col-lg-1 text-center" translate>Type</th>
        <th translate>Criteria</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <input type="text" class="form-control" value="{{question.name}}" ng-model="question.name">
        </td>
        <td>
          <input type="text" class="form-control" value="{{question.value}}" ng-model="question.value">
        </td>
        <td class="col-lg-1 text-center">
          <input type="text" class="form-control" value="{{question.type}}" ng-model="question.type">
        </td>
        <td>
          <select class="form-control" ng-options="criteria.name for criteria in criterias track by criteria.id"  ng-model="question.criteria"></select>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary pull-right" ng-click="update()" translate>Update</button>
  </div>
</div>
