<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Questions</h1>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Questions
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
              <th>type</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td><input type="text" value="{{question.name}}" ng-model="question.name"></td>
              <td><input type="text" value="{{question.value}}" ng-model="question.value"></td>
              <td><input type="text" value="{{question.type}}" ng-model="question.type"></td>
              <td><select class="form-control" ng-options="criteria.name for criteria in criterias track by criteria.id"  ng-model="question.criteria">
              </select></td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-primary" ng-click="update()">Update</button>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
</div>
</div>
