<div class="questions-page">
  <div class="row">
    <h1 class="page-header">Questions</h1>
  </div>
  <div class="row">
    <a ng-click="addQuestion=true" ng-hide="addQuestion" class="pull-right mb20 add-question" ng-if="me.role == 4">
      <i class="fa fa-plus-circle"></i> Add New Question
    </a>
    <div ng-show="addQuestion">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Question</th>
          <th>Value</th>
          <th>Type</th>
          <th>Criteria</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input type="text" value="{{question.name}}" ng-model="question.name" placeholder="Add New Question" class="form-control" /></td>
          <td><input type="text" value="{{question.value}}" ng-model="question.value" placeholder="Add New Value" class="form-control" /></td>
          <td><input type="text" value="{{question.type}}" ng-model="question.type"  placeholder="Add New Type" class="form-control"/></td>
          <td><select class="form-control" ng-options="criteria.name for criteria in criterias track by criteria.id"  ng-model="question.criteria" class="form-control"></select></td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-primary pull-right mb40" type="button" ng-click="save(question)">Add</button>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Question</th>
        <th>Value</th>
        <th>Type</th>
        <th>Criteria</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="question in questions ">
        <td><a ui-sref="dashboard.questions_edit({id:question.id})">{{question.name}}</a></td>
        <td>{{question.value}}</td>
        <td>{{question.type}}</td>
        <td>{{question.criteria.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
