<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Questions</h1>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Questions
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
              <th>type</th>
              <th>criteria</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="question in questions ">
              <td><a ui-sref="dashboard.questions_edit({id:question.id})">{{question.name}}</a></td>
              <td>{{question.value}}</td>
              <td>{{question.type}}</td>
              <td>{{question.criteria.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <a ui-sref="dashboard.questions_new()"><p class="fa fa-plus-circle"></p></a>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
</div>
</div>
