<div class="report-page">
  <div class="row">
    <h1 class="page-header">Reports</h1>
  </div>
  <div class="row">
    <table class="table table-bordered table-striped">
      <thead>
      <th>indicator</th>
      <th>Department</th>
      </thead>
      <tbody>
      <tr ng-repeat="data in datas">
        <td >
          <a ui-sref="dashboard.report_detail({department:data.department.id,indicator:data.indicator.id})">{{data.indicator.name}}</a>
        </td>
        <td >
          {{data.department.name}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
