<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Report</h1>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ind}}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="col-lg-12 col-sm-12 ng-scope" id="bar-chart" >
        <div class="panel panel-default">
          <div class="panel-heading">{{dept}}     </div>
          <div class="panel-body">
            <div class="chart-container"><canvas id="bar" class="chart chart-bar ng-isolate-scope" data="bar.data" labels="bar.labels" series="bar.series" options="bar.options" width="514" height="257" style="width: 514px; height: 257px;"></canvas></div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>
</div>
</div>
