<div class="report-page">
  <div class="row">
    <h1 class="page-header">Reports</h1>
  </div>
  <div class="row">

    <form name="myForm">
      <table id="panel{{state}}" class="table table-bordered">
        <thead>
        <tr>
          <th>Unit</th>
          <th width="60%">Indicator</th>
          <th width="145"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><select class="form-control" ng-model="filteredDepartment">
            <option ng-repeat="department in departments" value="{{department.id}}">{{department.name}}</option>
          </select></td>
          <td><select class="form-control" ng-model="filteredIndicator">
            <option ng-repeat="indicator in indicators" value="{{indicator.id}}">{{indicator.name}}</option>
          </select></td>
          <td>
            <button type="button" class="btn btn-primary pull-right" ng-click="filter();"
                    ng-disabled="!(filteredIndicator || filteredDepartment)">
              Filter
            </button>
            <button type="button" class="btn btn-danger pull-left" ng-click="clearFilter();filteredIndicator = undefined;filteredDepartment = undefined;">
              Clear
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="row">
    <table class="table table-bordered table-striped">
      <thead>
      <th>Indicator Code</th>
      <th>Indicator Name</th>
      <th>Unit</th>
      <th>Data Type</th>
      <th>Status</th>
      <th colspan="4">Actions</th>
      </thead>
      <tbody>
      <tr ng-repeat="data in datas">
        <td>
          {{data.indicator.code}}</td>
        <td>
          {{data.indicator.name}}
        </td>
        <td>
          {{data.department.name}}
        </td>
        <td>
          {{data.indicator.valueType}}
        </td>
        <td ng-if="data.answer" class="success">
          Completed
        </td>
        <td ng-if="!data.answer" class="not-success">
          Incomplete
        </td>
        <td>
          <a ui-sref="dashboard.data(editDataRow(data))">Edit</a>
        </td>
        <td>
          <a ui-sref="dashboard.report_detail({dataId:data.id, valueType:data.indicator.valueType})">Visualize (Graph/Table)</a>
        </td>
        <td>
          <a ui-sref="dashboard.report_print({dataId:data.id, valueType:data.indicator.valueType})">Print</a>
        </td>
        <td>
          <a ng-click="deleteReport({dataId:data.id})" href="">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
