<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Report</h1>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ind}} - {{dept}}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="col-lg-12 col-sm-12 ng-scope pull-left" id="bar-chart" >
        <div id="canvas_container" class="chart-container clearfix">
          <b ng-if="(data.valueType == 'percentage')">(%)<br/></b>
          <canvas ng-if="(data.valueType == 'percentage')" id="line" class="chart chart-line ng-isolate-scope" data="bar.data" labels="bar.labels" series="bar.series" options="bar.options" width="514" height="257" style="width: 514px; height: 257px;">
          </canvas>

          <canvas ng-if="(data.valueType == 'numeric')" id="bar" class="chart chart-bar ng-isolate-scope" data="bar.data" labels="bar.labels" series="bar.series" options="bar.options" width="514" height="257" style="width: 514px; height: 257px;"></canvas></div>
      </div>
      <div class="pull-left clearfix" style="padding: 15px 0 0; width: 100%;">
        <div class="col-sm-3 text-center" ng-repeat="year in data.years" style="padding: 5px 0;">
          <b>{{year.year}} :</b> {{year.value}}
        </div>
      </div>

      <div class="pull-left clearfix" style="padding: 15px 0 0; width: 100%;">
        <h4>Criterias</h4>
        <ul>
          <li class="col-sm-12" ng-repeat="criterias in criteriasAndAnswers" style="padding: 5px 0;">
            <b>{{criterias.name}}</b>
            <span style="display: block" ng-repeat="answer in criterias.answers">
              {{answer}}
            </span>
          </li>
        </ul>

      </div>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>
</div>
</div>
