<div class="search-page" ng-if="me.role == 4">
  <div class="row">
    <h1 class="page-header" translate>Search</h1>
  </div>
  <div class="row">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th translate>Indicator Code</th>
        <th translate>Indicator Name</th>
        <th translate>Sub-Group</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-show="!searchDatas.length">
          <td colspan="3" translate>There is no data for this indicator</td>
        </tr>
        <tr ng-repeat="data in searchDatas" class="list-item" ui-sref="dashboard.report_detail({dataId:data.id, valueType:data.valueType})" style="cursor:pointer">
          <td>{{data.code}}</td>
          <td>{{data.name}}</td>
          <td>{{data.subgroup.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
