<div class="search-page" ng-if="me.role == 4">
  <div class="row">
    <h1 class="page-header" translate>Search</h1>
  </div>
  <div class="row">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th translate>Indicator Code</th>
        <th translate>Indicator Name</th>
        <th translate>Sub-Group</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="data in searchDatas"  class="list-item">
        <td>{{data.code}}</td>
        <td>{{data.name}}</td>
        <td>{{data.subgroup.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
