<div class="subgroups-page" ng-if="me.role == 4">
  <div class="row">
    <h1 class="page-header">Edit {{subgroup.name}}</h1>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <Th>Department</Th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <td><input type="text" value="{{subgroup.name}}" ng-model="subgroup.name" class="form-control"></td>
        <td><select class="form-control" ng-options="group.name for group in groups track by group.id"  ng-model="subgroup.group"></select></td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary pull-right" ng-click="update()">Update</button>
  </div>
</div>
