<div class="subdepartments-page" ng-if="me.role == 4">
  <div class="row">
    <h1 class="page-header">{{'Edit' | translate}} {{subdepartment.name | translate}}</h1>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th translate>Name</th>
        <th translate>Department</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <td><input type="text" value="{{subdepartment.name}}" ng-model="subdepartment.name" class="form-control"></td>
        <td><select class="form-control" ng-options="department.name | translate for department in departments track by department.id"  ng-model="subdepartment.department"></select></td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary pull-right" ng-click="update()" translate>Update</button>
  </div>
</div>
