<div class="row">
      <h1 class="page-header">Edit User's Information</h1>
</div>
<div class="row mb20">
    <div class="col-lg-6">
      <label for="edit-username" class="control-label">
        Username
      </label>
      <input type="text" value="{{user.username}}" ng-model="user.username" id="edit-username" class="form-control" />
    </div>
    <div class="col-lg-6">
      <label for="edit-name" class="control-label">
        Name
      </label>
      <input type="text" value="{{user.name}}" ng-model="user.name" id="edit-name" class="form-control" />
    </div>
  </div>
<div class="row mb20">
  <div class="col-lg-6">
    <label for="edit-user-department" class="control-label">
      Department
    </label>
    <select class="form-control" ng-options="department.name for department in departments track by department.id" ng-model="user.department[0]" id="edit-user-department"></select>
  </div>
  <div class="col-lg-6">
    <label for="edit-user-role" class="control-label">
      Role
    </label>
    <select class="form-control" ng-model="user.role" id="edit-user-role">
      <option value="1">Read-Only</option>
      <option value="2">Member</option>
      <option value="3">Editor</option>
      <option value="4">Admin</option>
    </select>
  </div>
</div>
<div class="row mb20">
  <div class="col-lg-4">
    <button type="button" class="btn btn-primary" ng-click="update(user)">Update</button>
  </div>
</div>

