<div class="users-page" ng-if="me.role == 4">
  <div class="row">
      <h1 class="page-header" translate>Users</h1>
  </div>
  <!-- /.table-responsive -->
  <div class="row">
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th translate>Username</th>
            <th translate>Name</th>
            <th translate>Email</th>
            <th translate>Department</th>
            <th translate>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users" ui-sref="dashboard.users_edit({id:user.id})" class="list-item" title="Edit {{user.name}}'s Department">
            <td class="text-center">{{users.length}}</td>
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td translate>{{user.department[0].name}}</td>
            <td ng-switch on="user.role">
              <div ng-switch-when="1" translate>Read-only</div>
              <div ng-switch-when="2" translate>Member</div>
              <div ng-switch-when="3" translate>Editor</div>
              <div ng-switch-when="4" translate>Admin</div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

